.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  display: grid;
  max-width: 1240px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
  composes: pt-10 from global;
  height: 100%;
}

.title {
  grid-column: 1 / span 2;
  composes: mb-5 text text_type_main-large from global;
}

.errorTitle {
  position: absolute;
  top: calc(100vh - 88px - 50%);
  left: calc(50% - 400px);
  composes: text text_type_main-large from global;
}