.order {
  background-color: #1c1c21;
  border-radius: 40px;
  display: grid;
  composes: p-6 from global;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 24px fit-content 64px;
  row-gap: 24px;
  cursor: pointer;
}

.privateOrder {
  composes: order;
  grid-template-rows: 24px fit-content 24px 64px;
}

.title {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
}

.number {
  composes: text text_type_digits-default from global;
}

.time {
  composes: text text_type_main-default text_color_inactive from global;
}

.name {
  composes: text text_type_main-medium from global;
  grid-column: 1 / span 2;
}

.status {
  grid-column: 1 / span 2;
  composes: text text_type_main-default from global;
}

.images {
  display: flex;
}

.imageContainer {
  width: 64px;
  height: 64px;
  background: linear-gradient(
    45deg,
    rgba(128, 26, 178, 1) 0%,
    rgba(76, 76, 255, 1) 100%
  );
  border-radius: 100px;
  padding: 2px;
  box-sizing: border-box;
}

.image {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #131316;
}

.lastImageContainer {
  position: relative;
  composes: imageContainer;
}

.lastImageContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 100px;
  translate: -50% -50%;
  background-color: #1c1c21;
  opacity: 0.6;
}

.lastImage {
  composes: image;
}

.extra {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  composes: text text_type_main-default from global;
  z-index: 1;
}

.price {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cost {
  composes: pr-2 text text_type_digits-default from global;
}

.link {
  color: inherit;
  text-decoration: none;
}
