.section {
  overflow: hidden;
}

.ingredients {
  box-sizing: border-box;
  max-height: calc(100vh - 244px);
  overflow-y: scroll;
  composes: custom-scroll from global;
}

.ingredients::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 52px;
}

.title {
  composes: pt-10 text text_type_main-medium from global;
}

.list {
  list-style: none;
  margin: 0;
  composes: pl-4 pr-4 pt-6 from global;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}
