.header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  composes: pt-4 pb-4 from global;
  align-items: center;
  background-color: #1c1c21;
}

.navBar {
  display: flex;
  column-gap: 8px;
}

.navBar:nth-of-type(1) {
  margin-right: 112px;
}
.navBar:nth-of-type(2) {
  margin-left: 288px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: none;
  display: flex;
  align-items: center;
  composes: pl-5 pr-5 pt-4 pb-4 from global;
}

.text {
  composes: pl-2 text text_type_main-default from global;
}

.inactiveLink {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  composes: pl-5 pr-5 pt-4 pb-4 text_color_inactive from global;
}

.logo {
  cursor: pointer;
}
